# DATA QUALITY

This notebook focuses on ensuring the quality and consistency of the raw dataset. 

It includes identifying and correcting data types, removing duplicates, handling missing values, detecting outliers, and separating numerical and categorical variables. 

The goal is to produce a clean, reliable analytical base that can be safely used for later transformation, feature engineering, and modeling steps.

## IMPORT LIBRARIES

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Autocomplete
%config IPCompleter.greedy=True

## IMPORT DATASETS

We'll use the **sample dataset**
- It speeds up your workflow
- It avoids processing the entire dataset unnecessarily
- Full checks will still occur downstream on the full data

In [4]:
project_path = '/Users/rober/retail-stockout-risk-scoring'

data_file_name = 'sample.csv'

df_path = project_path + '/02_Data/03_Working/' + data_file_name

df = pd.read_csv(df_path)
df

,date,store_id,product_id,category,region,inventory_level,units_sold,units_ordered,demand_forecast,price,discount,weather,holiday_promo,competitor_pricing,seasonality
0,2023-07-11,S004,P0014,Furniture,East,175,167,84,167.98,38.01,10,Cloudy,1,34.77,Autumn
1,2022-01-10,S005,P0010,Electronics,South,225,209,185,222.54,21.75,5,Snowy,0,23.91,Spring
2,2023-08-26,S004,P0016,Groceries,West,495,382,50,375.88,16.44,15,Snowy,0,14.02,Autumn
3,2022-08-17,S005,P0005,Furniture,East,271,138,154,134.97,59.28,20,Sunny,1,55.20,Autumn
4,2023-05-07,S001,P0013,Electronics,East,193,0,83,6.99,75.53,10,Snowy,0,78.58,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2023-09-29,S004,P0011,Clothing,South,185,0,149,3.33,85.50,5,Snowy,0,85.27,Summer
19996,2022-06-16,S002,P0004,Furniture,South,123,95,74,99.86,87.71,0,Rainy,1,87.55,Spring
19997,2023-02-17,S003,P0019,Furniture,North,272,80,190,87.81,18.16,10,Sunny,1,18.27,Winter
19998,2023-02-02,S001,P0004,Electronics,East,141,63,61,57.81,85.92,10,Rainy,1,82.22,Spring
19999,2022-06-09,S003,P0016,Clothing,South,357,171,186,186.32,46.99,15,Cloudy,1,46.26,Winter

## RENAME COLUMNS

We already did it in the setup notebook, remember to recover that part wehn doing retraining and execution code

## OVERALL CHECK

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                20000 non-null  object
 1   store_id            20000 non-null  object
 2   product_id          20000 non-null  object
 3   category            20000 non-null  object
 4   region              20000 non-null  object
 5   inventory_level     20000 non-null  int64
 6   units_sold          20000 non-null  int64
 7   units_ordered       20000 non-null  int64
 8   demand_forecast     20000 non-null  float64
 9   price               20000 non-null  float64
 10  discount            20000 non-null  int64
 11  weather             20000 non-null  object
 12  holiday_promo       20000 non-null  int64
 13  competitor_pricing  20000 non-null  float64
 14  seasonality         20000 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 2.3+ MB

## DATA TYPES

- 'holiday_promo' to category
- 'date' to datetime

In [6]:
df['holiday_promo'] = df['holiday_promo'].astype('category')

df['date'] = pd.to_datetime(df['date'])

## UNIQUE VALUES

### Identify

In [7]:
df.nunique().sort_values()

holiday_promo             2
region                    4
weather                   4
seasonality               4
store_id                  5
category                  5
discount                  5
product_id               20
units_ordered           181
inventory_level         451
units_sold              489
date                    731
price                  8046
competitor_pricing     8325
demand_forecast       15046
dtype: int64

Everything just fine

- 20 different products (IDs)
- of 5 categories ('Furniture', 'Electronics', 'Groceries', 'Clothing', 'Toys')
- 5 stores (IDs) in 4 regions (North, East, South, West)
- 5 different discounts: 0, 5, 10, 15, 20
- the weather can be sunny, cloudy, rainy and snowy
- holiday_promo yes/no (1-0)
- 730 dates = 2 years of data
- the rest are just prices, quantities (units),

## DUPLICATES

### Identify

In [8]:
df.duplicated().sum()

0

## SEPARATE NUMERICAL / CATEGORICAL

In [9]:
cat = df.select_dtypes(exclude = 'number').copy()
num = df.select_dtypes(include = 'number').copy()

## CATEGORICAL HANDLING

In [10]:
cat

,date,store_id,product_id,category,region,weather,holiday_promo,seasonality
0,2023-07-11,S004,P0014,Furniture,East,Cloudy,1,Autumn
1,2022-01-10,S005,P0010,Electronics,South,Snowy,0,Spring
2,2023-08-26,S004,P0016,Groceries,West,Snowy,0,Autumn
3,2022-08-17,S005,P0005,Furniture,East,Sunny,1,Autumn
4,2023-05-07,S001,P0013,Electronics,East,Snowy,0,Spring
...,...,...,...,...,...,...,...,...
19995,2023-09-29,S004,P0011,Clothing,South,Snowy,0,Summer
19996,2022-06-16,S002,P0004,Furniture,South,Rainy,1,Spring
19997,2023-02-17,S003,P0019,Furniture,North,Sunny,1,Winter
19998,2023-02-02,S001,P0004,Electronics,East,Rainy,1,Spring
19999,2022-06-09,S003,P0016,Clothing,South,Cloudy,1,Winter

In [11]:
# drop date as categorical (just keep it in df)

cat = cat.drop(columns=['date'])

No null values, as we check, and no outliers

## NUMERICAL HANDLING

### Outliers

#### Via standard deviation

##### Identify

###### Define number of standard deviations

We'll use 4σ as a conservative threshold for initial outlier detection. Future steps may refine this choice based on exploration or model feedback. 
- In a normal distribution, ~99.99% of values fall within ±4 standard deviations.
- The 4σ rule is a safe and conservative way to detect only the most extreme values, **even if the data isn’t perfectly normal** — it's good enough for early outlier detection without overcomplicating things.

In [12]:
std_dev_num = 4

###### Function to return outliers indexes

In [13]:
def outliers_std_dev(variable, std_dev_num = 4):
    # drop null values
    variable = variable.dropna()
    # calculate limits
    mean = np.mean(variable)
    std_dev = np.std(variable)
    threshold = std_dev * std_dev_num
    lower_limit = mean - threshold
    upper_limit = mean + threshold
    # find indexes of values that are outside the limits
    indexes = [index for index,value in variable.items() if value < lower_limit or value > upper_limit]
    return(indexes)

###### Function to get value counts (for summary)

In [14]:
def outlier_counts(num, variable, std_dev_num = 4):
    outliers = outliers_std_dev(num[variable], std_dev_num)
    return(num.loc[outliers,variable].value_counts())

###### Variables to analize

In [15]:
outlier_variables = num.columns.to_list()

###### Apply

We'll use the function outlier_locations because we are working with time series.

In [16]:
for variable in outlier_variables:
    print('\n' + variable + ':\n')
    print(outlier_counts(num,variable,std_dev_num=4))

inventory_level:

Series([], Name: count, dtype: int64)

units_sold:

Series([], Name: count, dtype: int64)

units_ordered:

Series([], Name: count, dtype: int64)

demand_forecast:

Series([], Name: count, dtype: int64)

price:

Series([], Name: count, dtype: int64)

discount:

Series([], Name: count, dtype: int64)

competitor_pricing:

Series([], Name: count, dtype: int64)

## CONCLUSION

- No outliers
- No anomalies
- No cleaning required
- Ready for PD target creation and feature engineering

## SAVE DATASETS AFTER DATA QUALITY

Save the progress in **df**, **cat**, and **num** with a suffix so you can save or retrieve the project’s progress.

In **pickle** format so as not to lose the metadata modifications.

### Definir los nombres de los archivos

In [17]:
df_path = project_path + '/02_Data/03_Working/' + 'df_after_data_quality.pickle'
cat_path = project_path + '/02_Data/03_Working/' + 'cat_after_data_quality.pickle'
num_path = project_path + '/02_Data/03_Working/' + 'num_after_data_quality.pickle'

### Guardar los archivos

In [18]:
df.to_pickle(df_path)
cat.to_pickle(cat_path)
num.to_pickle(num_path)