# FEATURE ENGINEERING

This notebook focuses on applying transformations that enhance the predictive power of the dataset for stockout-risk modeling.

It includes:
- the creation of the stockout target (PD – Probability of Stockout)
- transformations for numerical variables (normalization, scaling, binning when required)
- encoding of categorical variables
- time-based feature creation (lags, rolling windows, depletion rates)
- construction of interaction variables relevant to demand, inventory, pricing, and promotions

All engineered variables are then merged into a single analytical base table (ABT).

The goal is to produce a clean, structured, and modeling-ready dataset that will allow us to perform feature selection and train accurate stockout-risk models.

## IMPORT LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import OneHotEncoder
from category_encoders import TargetEncoder
from sklearn.preprocessing import MinMaxScaler

from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

# Autocomplete
%config IPCompleter.greedy=True

## IMPORT DATASETS

In [2]:
project_path = '/Users/rober/retail-stockout-risk-scoring'

df_name = 'df_after_eda.pickle'
cat_name = 'cat_after_eda.pickle'
num_name = 'num_after_eda.pickle'

df = pd.read_pickle(project_path + '/02_Data/03_Working/' + df_name)
cat = pd.read_pickle(project_path + '/02_Data/03_Working/' + cat_name)
num = pd.read_pickle(project_path + '/02_Data/03_Working/' + num_name)

## CREATE THE TARGET: Stockout

In [3]:
(df['inventory_level']).min()

50

In [4]:
(df['inventory_level'] == 0).sum()

0

In [5]:
(df['inventory_level'] <= df['demand_forecast']).sum()

720

### Target Definition: Stockout Risk (Forecast-Based)

In this dataset, the *inventory_level* never reaches zero, there are no literal stockout events recorded.

But real retail and supply-chain teams do not wait for inventory to reach 0 in order to act.

Instead, they monitor the risk of running out of stock soon, based on expected future demand.

Because of this, defining stockout strictly as “inventory = 0” would not be useful.
Instead, we adopt a **forecast-based stockout definition**, which is also the standard approach in industry.

**A product is at risk of stockout within the next k days when its current inventory is not enough to meet the forecasted demand for that period.**

Formally:

**stockout_next_k_days = 1  
if inventory_level ≤ demand_forecast × k**

We'll create three horizons to compare model performance and business usefulness:

- **stockout_7d** - risk of stockout within the next 7 days
- **stockout_14d** - risk of stockout within the next 14 days
- **stockout_30d** - risk of stockout within the next 30 days

These targets allow us to frame the project as a risk-scoring problem, similar to credit-risk PD models, but applied to inventory: we predict the probability of stockout within a defined future horizon.

In [6]:
# Create forecast-based stockout targets

df['stockout_7d'] = (df['inventory_level'] <= df['demand_forecast'] * 7).astype(int)
df['stockout_14d'] = (df['inventory_level'] <= df['demand_forecast'] * 14).astype(int)
df['stockout_30d'] = (df['inventory_level'] <= df['demand_forecast'] * 30).astype(int)

In [7]:
df[['stockout_7d','stockout_14d','stockout_30d']]

       stockout_7d  stockout_14d  stockout_30d
0                1             1             1
1                1             1             1
2                1             1             1
3                1             1             1
4                0             0             1
...            ...           ...           ...
19995            0             0             0
19996            1             1             1
19997            1             1             1
19998            1             1             1
19999            1             1             1

[20000 rows x 3 columns]

### Choose one variable: stockout_14d

However, a machine-learning pipeline must be trained using one specific target at a time, and certain transformations (such as Target Encoding) require a single reference target to avoid leakage.

After evaluating the nature of the dataset and typical supply-chain lead times, we select **stockout_14d** as the main target for the rest of the project.

Why
- realistic supplier lead times
- weekly/bi-weekly replenishment cycles
- good balance between early warning and predictive accuracy
- practical usefulness for inventory planners

The other two targets (7d and 30d) remain available for sensitivity analysis and model comparison, but stockout_14d becomes the official PD (Probability of Stockout) variable used for feature engineering, modeling, evaluation, and the final risk score.

In [8]:
target = df['stockout_14d']

## TRANSFORMATIONS IN CATEGORICAL VARIABLES

### What encoding each variable needs

**OHE (One-Hot Encoding)** in most of them because the category count is small (≤10).

- 'store_id' (5 stores)
- 'category' (5 categories)
- 'region' (4 regions)
- 'weather' (4 conditions)
- 'seasonality' (4 seasons)
- 'holiday_promo'... binary: keep as is or OHE

**Ordinal Encoding**: only for ordered categories (only 'seasonality' could be argued to be ordinal, but for ML it's usually OHE)

**Target Encoding**: when variable has many categories (high cardinality).
- 'product_id' (20 values)

### One Hot Encoding

In [9]:
var_ohe = ['store_id', 'category', 'region', 'weather', 'seasonality', 'holiday_promo']

ohe = OneHotEncoder(sparse_output = False, handle_unknown='ignore')

cat_ohe = ohe.fit_transform(cat[var_ohe])

cat_ohe = pd.DataFrame(cat_ohe, columns = ohe.get_feature_names_out())

In [10]:
cat_ohe

,store_id_S001,store_id_S002,store_id_S003,store_id_S004,store_id_S005,category_Clothing,category_Electronics,category_Furniture,category_Groceries,category_Toys,...,weather_Cloudy,weather_Rainy,weather_Snowy,weather_Sunny,seasonality_Autumn,seasonality_Spring,seasonality_Summer,seasonality_Winter,holiday_promo_0,holiday_promo_1
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
19996,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
19997,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
19998,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
19999,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

### Target Encoding

In [11]:
var_te = ['product_id']

te = TargetEncoder(min_samples_leaf=100, return_df = False)

cat_te = te.fit_transform(cat[var_te], y = target)

te_names = [v + '_te' for v in var_te]

cat_te = pd.DataFrame(cat_te, columns = te_names)

In [12]:
cat_te

       product_id_te
0           0.946612
1           0.933333
2           0.938062
3           0.955912
4           0.948223
...              ...
19995       0.945545
19996       0.939364
19997       0.940513
19998       0.939364
19999       0.938062

[20000 rows x 1 columns]

## Dates

'date' is only included in df dataframe, we'll extract it and create a new small dataframe only for dates and the merge it with the rest of dataframes created during this feature engineering stage.

In [13]:
num_date = df[['date']].copy()

num_date['day_of_week']  = num_date['date'].dt.dayofweek
num_date['week_of_year'] = num_date['date'].dt.isocalendar().week.astype(int)
num_date['month']        = num_date['date'].dt.month
num_date['year']         = num_date['date'].dt.year
num_date['day_of_month'] = num_date['date'].dt.day

# Weekend flag (binary yes/no) (Monday is 0)
num_date['is_weekend']   = (num_date['day_of_week'] >= 5).astype(int)

In [14]:
num_date.head()

        date  day_of_week  week_of_year  month  year  day_of_month  is_weekend
0 2023-07-11            1            28      7  2023            11           0
1 2022-01-10            0             2      1  2022            10           0
2 2023-08-26            5            34      8  2023            26           1
3 2022-08-17            2            33      8  2022            17           0
4 2023-05-07            6            18      5  2023             7           1

In [15]:
num_date = num_date.drop(columns=['date'])

## TRANSFORMATIONS IN NUMERICAL VARIABLES

After reviewing distributions of numerical variables, discretization, binarization, and power transformations were not applied, as the dataset is clean and shows no skewness or extreme values. 

The only necessary transformation is **scaling**, using StandardScaler to ensure all variables operate on comparable units during modeling. [Next section]

## MERGE TRANSFORMED DATASETS

### Create a list including all dataframes generated in feature engineering so far (prefixes 'cat_' and 'num_')

In [16]:
dataframes = []
dataframes.extend(
    value for name, value in locals().items()
    if (name.startswith('cat_') or name.startswith('num_')) 
    and isinstance(value, pd.DataFrame)
)

### Merge all dataframes generated in feature engineering so far

In [17]:
df = pd.concat(dataframes, axis = 1)

In [18]:
df.head()

,store_id_S001,store_id_S002,store_id_S003,store_id_S004,store_id_S005,category_Clothing,category_Electronics,category_Furniture,category_Groceries,category_Toys,...,seasonality_Winter,holiday_promo_0,holiday_promo_1,product_id_te,day_of_week,week_of_year,month,year,day_of_month,is_weekend
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.946612,1,28,7,2023,11,0
1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.933333,0,2,1,2022,10,0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.938062,5,34,8,2023,26,1
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.955912,2,33,8,2022,17,0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.948223,6,18,5,2023,7,1

## RESCALLING

**Variables that must be rescaled** (all real continuous numeric vars)

- 'inventory_level'
- 'units_sold'
- 'units_ordered'
- 'demand_forecast'
- 'price'
- 'discount'
- 'competitor_price'

**Variables that should NOT be rescaled** (they are already categorical or 0–1 encoded)

- 'store_id_' (OHE)
- 'category_' (OHE)
- 'region_' (OHE)
- 'weather_' (OHE)
- 'seasonality_' (OHE)
- 'holiday_promo' (0/1)
- 'is_weekend' (0/1)
- date features

**Note on Date Features**

The date-derived variables (day_of_week, week_of_year, month, year, day_of_month, is_weekend) won't be scaled.

These variables are ordinal indicators that encode seasonal and calendar effects. They are not continuous magnitudes, so scaling them would not improve the model and may distort their meaning.

Tree-based models handle these variables natively using threshold splits, so their original integer ranges do not create any imbalance or instability.

It is therefore expected that date features have larger numeric ranges than the scaled continuous variables.

**Method for rescalling: MIN-MAX** because:
- it makes all continuous variables fit into the same numeric range as the OHE variables (0–1) we already get
- variables are all strictly positive and have hard minimum and maximum limits
- variables don't have extreme outliers
- variables don't have long heavy-tailed distributions

Standardization would distort interpretability (negative numbers, values far from 1...)

Robust Standarization is unnecessary (no huge outliers, no long heavy-tailed distributions)

### Min-Max

In [19]:
var_mms = [
    'inventory_level',
    'units_sold',
    'units_ordered',
    'demand_forecast',
    'price',
    'discount',
    'competitor_pricing'
]

mms = MinMaxScaler()

df_mms = mms.fit_transform(num[var_mms])

# add sufix _mms
names_mms = [v + '_mms' for v in var_mms]

# save as dataframe
df_mms = pd.DataFrame(df_mms,columns = names_mms)

In [20]:
df_mms

,inventory_level_mms,units_sold_mms,units_ordered_mms,demand_forecast_mms,price_mms,discount_mms,competitor_pricing_mms
0,0.277778,0.334669,0.355556,0.336318,0.311257,0.50,0.295571
1,0.388889,0.418838,0.916667,0.439608,0.130570,0.25,0.186502
2,0.988889,0.765531,0.166667,0.729904,0.071564,0.75,0.087175
3,0.491111,0.276553,0.744444,0.273825,0.547616,1.00,0.500753
4,0.317778,0.000000,0.350000,0.031540,0.728192,0.50,0.735563
...,...,...,...,...,...,...,...
19995,0.300000,0.000000,0.716667,0.024611,0.838982,0.25,0.802752
19996,0.162222,0.190381,0.300000,0.207357,0.863540,0.00,0.825650
19997,0.493333,0.160321,0.944444,0.184544,0.090677,0.50,0.129858
19998,0.202222,0.126253,0.227778,0.127750,0.843649,0.50,0.772120
19999,0.682222,0.342685,0.922222,0.371039,0.411046,0.75,0.410967

## MERGE DATASETS

### List of dataframes to include in our analytical base table

In [21]:
include = [df, df_mms, target]

### Merge those dataframes to create the analytical base table

In [22]:
df_analytical_base = pd.concat(include, axis = 1)

In [23]:
df_analytical_base

,store_id_S001,store_id_S002,store_id_S003,store_id_S004,store_id_S005,category_Clothing,category_Electronics,category_Furniture,category_Groceries,category_Toys,...,day_of_month,is_weekend,inventory_level_mms,units_sold_mms,units_ordered_mms,demand_forecast_mms,price_mms,discount_mms,competitor_pricing_mms,stockout_14d
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,11,0,0.277778,0.334669,0.355556,0.336318,0.311257,0.50,0.295571,1
1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,10,0,0.388889,0.418838,0.916667,0.439608,0.130570,0.25,0.186502,1
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,26,1,0.988889,0.765531,0.166667,0.729904,0.071564,0.75,0.087175,1
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,17,0,0.491111,0.276553,0.744444,0.273825,0.547616,1.00,0.500753,1
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,7,1,0.317778,0.000000,0.350000,0.031540,0.728192,0.50,0.735563,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,29,0,0.300000,0.000000,0.716667,0.024611,0.838982,0.25,0.802752,0
19996,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,16,0,0.162222,0.190381,0.300000,0.207357,0.863540,0.00,0.825650,1
19997,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,17,0,0.493333,0.160321,0.944444,0.184544,0.090677,0.50,0.129858,1
19998,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2,0,0.202222,0.126253,0.227778,0.127750,0.843649,0.50,0.772120,1
19999,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,9,0,0.682222,0.342685,0.922222,0.371039,0.411046,0.75,0.410967,1

## SAVE DATASET AFTER FEATURE ENGINEERING

In [24]:
analytical_base_path = project_path + '/02_Data/03_Working/' + 'df_analytical_base.pickle'

df_analytical_base.to_pickle(analytical_base_path)